{% extends 'base.html'%}
{% load static %}
{% block child %}

<div class="text-center fs-2">Vission &
    <b class="txt-mycolor"> Mission</b>
</div>
<div class="row py-4">
    <div class="col-sm-12">
<div class="row py-5 bg-light">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 ">
        <div class="py-2" style="width:60%; height:100%;float:left;">
        <p><b>No child in India shall be deprived of education beasuse of hunger.</b></p>
    </div>
    <div class="bg-info" style="width:40%; height:100%; float:left;" >
        <p class="fs-2 text-center" >OUR VISION </p>
    </div>
    </div>
    <div class="col-sm-1"></div>

            <div class="row py-4">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="bg-mycolor" style="width:40%; height:100%;float:left;">
                        <p class="fs-2 text-center">OUR MISSION</p>
                    </div>
                    <div class="col-sm-10">
                    <div class="ms-auto pt-4 ms-2" style="width:40%; height:100%;float-left;" >
                    <p><b>To feed 3 million children of India by 2025</b></p>
                        </div>
                 </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

</div>
<br/>
    <p>We strive to address classroom hunger and malnutrition in India.</p>
    <p>We want to feed the millions of children in India who lock the means but have the zeal to learn and achieve.</p>
    <p>One wholesome md-day meal every day nourishes them and motivates them to pursue education and consequently a better future.</p>
    <p>In essence,we support the health and education of children at the grass-root level of society through the assurance of a nutritious md-day meal.</p><br/>
        </div>
</div>
<div class=" col-sm-12 text-center">
    <h1>Our Vision</h1>
    <p>A personal mission statement and personal vision statement can be used to guide our
    decision-making and help us stay focused to meet our long-term goals. Company
    statements are no different. A company vision statement is one of your most important
    business documents, along with your mission statement and core values. Although it’s easy
    to confuse the three, each one is unique and serves its own purpose. Core values are the organization’s long-term beliefs and principles that guide employee
    behavior. A mission statement deals with “why” an organization exists, while a vision
    statement outlines “what” that existence will eventually look like. A mission
    statement has to do with what the organization is doing in the present, while a vision
    statement focuses on the future. Mission statement examples include
    L’Oreal’s “Offering all women and men worldwide the best of cosmetics innovation in
    terms of quality, efficacy, and safety.” Conversely, Disney’s vision for itself is “to
    be one of the world’s leading producers and providers of entertainment and
    information.”</p>
</div>
<div class="col-sm-12 text-center">
    <h1 >Our Mission</h1>
    <p>Every business sells something. Every business is unique. And every business wants
        to put its best foot forward both in the physical world and online. Yes, your
        social media posts, website content, paid ads, emails should reflect that. But
        it’s also important to have one central statement that brings everything together.
        That’s where your business mission statement comes in. This powerful blurb
        describes the essence of your company and gives customers and employees a clear
        image of what it’s all about.</p>
</div>

 <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-10 bg-light text-center">
            <h2>The Best Way to Make a Difference in the Lives of Others</h2>
        </div>
            <div class="col-sm-2 bg-light py-1">
            <a href="/user/donatenow" class="btn btn-dark text-light rounded-pill">Dnote Now</a></div>
            </div>

    </div>

{% endblock %}