{% extends 'base.html' %}
{% load static %}
{% block child %}
<style>

 .form-control
    {
    height:45px;
    margin-botton:15px;
    }
     .b{
        border-radius: 0px 10px 10px 0px;


        padding: 20px;
        box-shadow: rgba(50, 50 , 93, 0.25) 0px 6px 12px -2px , rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    }
    .a{
        background: var(--bgcolor);
        padding: 20px;
        color: black;
        border-radius: 10px 0px 0px 10px;
        box-shadow: rgba(50, 50 , 93, 0.25) 0px 6px 12px -2px , rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;


    }
    .form-control{
        height: 45px;
        background: #fff;
        color: #000;
        font-size: 14px;
        box-shadow: non !important;
    }
</style>
<div class="text-center fs-2">Become a
<b class="txt-mycolor">Volunteer
<i class="fa-solid fa-phone-volume"></i>
</b></div>
<div class="row py-2 ">
    <div class="col-sm-10 mx-auto ">
        <div class="row">
            <div class="col-sm-6 a">
               <form method="post" enctype="multipart/form-data">

    {% csrf_token %}
<b>Name:</b>
 <input type="text" name="name" placeholder="Name.." required class="form-control">
<b>Email:</b>
 <input type="email" name="email" placeholder="Email.." required class="form-control">
<b>Mobile:</b>
 <input type="number"  name="mobile" placeholder="Mobile.." required class="form-control">
<b>City:</b>
 <input type="text" name="city" placeholder="City.." required class="form-control">
<b>Profile Picture:</b>
 <input type="file" name="fu" required class="form-control">
<b>Current Position:</b>
 <input type="text" name="cposition" placeholder="Current Position" required class="form-control">
<b>Address:</b>
 <textarea class="form-control" name="address" id="" rows="2"></textarea>
 <input type="submit" value="save" class="btn bg-mycolor mt-2 btn-lg">

               </form>
            </div>
            <div class="col-sm-6 bg-mycolor pt-2 b">
                 <h3>Become a Volunteer </h3> <br/><br/>
            <div class="mt-4">
                With busy lives, it can be hard to find time to volunteer.
                However, the benefits of volunteering can be enormous.
                Volunteering offers vital help to people in need, worthwhile causes, and
                the community, but the benefits can be even greater for you, the volunteer.
                The right match can  friends, connect with the community,
                learn new skills, and even advance your career.

                Giving to others can also help protect your mental and physical health.
                It can reduce stress, combat depression, keep you mentally stimulated,
                and provide a sense of purpose. While it’s true that the more you volunteer,
                the more benefits you’ll experience,
                volunteering doesn’t have to involve a long-term commitment or take a huge
                amount of time out of your busy day. Giving in even simple ways can help those in
                need and improve your health and happiness.
            </div>
        </div>
            </div>
        </div>
    </div>








{% endblock %}